doctype html5
html
  head
    title Title for Templating
    link(href='layout.css', rel='stylesheet', type='text/css')
  body
    h1 slambam-direct
    h3 colored console output straight to your browser
    ol
      li 08/01/2012 
        a(href='#link1', title='link1') 01234567
      li 07/31/2012 
        a(href='#link2', title='link2') 89012345
