doctype html5
html
  head
    - if (typeof(title) != 'undefined')
      title bashpasteconsolebin: #{title}
    - else
      title bashpasteconsolebin
    link(href='layout.css', rel='stylesheet', type='text/css')
    block script
  body
    - if (typeof(title) != 'undefined')
      h1 bashpasteconsolebin: #{title}
    - else
      h1 bashpasteconsolebin
    block content
